<a href="https://colab.research.google.com/github/abhi-11nav/ConsumerComplaints-Classifaction/blob/main/ConsumerComplaints_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Credits:

https://www.kaggle.com/datasets/shashwatwork/consume-complaints-dataset-fo-nlp

In [1]:
# Importing libraries for dataset manipulations

import pandas as pd 
import numpy as np

In [2]:
# Cloning the github repository

!git clone https://github.com/abhi-11nav/ConsumerComplaints-Classifaction.git

fatal: destination path 'ConsumerComplaints-Classifaction' already exists and is not an empty directory.

In [3]:
# Importing the data and storing it in a varibale (data)

data = pd.read_csv("/content/ConsumerComplaints-Classifaction/complaints_processed.csv")

In [4]:
# Peeking at the data (first few columns)

data.head(10)

,Unnamed: 0,product,narrative
0,0,credit_card,purchase order day shipping amount receive pro...
1,1,credit_card,forwarded message date tue subject please inve...
2,2,retail_banking,forwarded message cc sent friday pdt subject f...
3,3,credit_reporting,payment history missing credit report speciali...
4,4,credit_reporting,payment history missing credit report made mis...
5,5,credit_reporting,payment history missing credit report made mis...
6,6,credit_reporting,va date complaint experian credit bureau invol...
7,7,credit_reporting,account reported abbreviated name full name se...
8,8,credit_reporting,account reported abbreviated name full name se...
9,9,credit_reporting,usdoexxxx account reported abbreviated name fu...

In [5]:
data.iloc[4].isna()

Unnamed: 0    False
product       False
narrative     False
Name: 4, dtype: bool

In [6]:
# Dropping the duplicate column (Unnamed:0)

data.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
# Verifying that the column is dropped

data.head()

            product                                          narrative
0       credit_card  purchase order day shipping amount receive pro...
1       credit_card  forwarded message date tue subject please inve...
2    retail_banking  forwarded message cc sent friday pdt subject f...
3  credit_reporting  payment history missing credit report speciali...
4  credit_reporting  payment history missing credit report made mis...

In [8]:
# Shape of the data 

data.shape

(162421, 2)

In [9]:
# Number of categories to be classified 

data['product'].value_counts()

credit_reporting       91179
debt_collection        23150
mortgages_and_loans    18990
credit_card            15566
retail_banking         13536
Name: product, dtype: int64

In [10]:
# Dropping all null values


data.dropna(inplace=True)

In [11]:
missing_val_count = 0 

if data["narrative"].isna().any() == True:

  missing_val_count += 1
  
if missing_val_count>0:
  print("Yes there exists null values", missing_val_count)
else:
  print("No missing values: good to go ahead")

No missing values: good to go ahead

In [12]:
len(data)

162411

## Observation:

We can observe that there is a dominance of "credit reporting" category in product class. Let us search for duplicate and or data with similar semantic meanings in the data. 

First, let's do some text preprocessing to clean the data (converting to lower case, removal of punctuations, etc).

# TEXT PREPROCESSING 
### DO NOT EXECUTE

In [ ]:
# Storing the text in a list. 

narrative = [text for text in data['narrative']]

In [ ]:
# Importing the libraries required for text preprocessing 

import re 

import nltk 
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
# Creating an object for WordNetLemmatizer 

lemmatizer = WordNetLemmatizer()

In [ ]:
# Library for computing runtime 
from tqdm import tqdm


# Getting rid of all punctuations and numeric values in the data. Also convert the data into lower case. 
for index in tqdm(range(0,len(narrative))):
  temp_variable = (re.sub('[^a-zA-Z]',' ',str(narrative[index])))
  narrative[index] = " ".join(word for word in str(narrative[index]).split()).lower()

100%|██████████| 162411/162411 [00:04<00:00, 34207.58it/s]

In [ ]:
# Applying lemmatization and removing the stopwords.

from tqdm import tqdm 


for index in tqdm(range(len(narrative))):
  temp_list = []
  for word in narrative[index].split():
    if word not in stopwords.words("english"):
      temp_list.append(word)
  narrative[index] = " ".join(lemmatizer.lemmatize(words) for words in temp_list) 


  # Already performed the operation once and store the data in "processex_text.csv"

  1%|          | 1005/162411 [00:20<30:38, 87.79it/s]

In [ ]:
# Saving the processed text in excel file 

pd.DataFrame(narrative).to_csv("processed_text.csv")

## Jaccard Similary on "credit_reporting" category.

In [ ]:
arr = [[1,1,1,0,0,0],[0,1,0,0,0,0],[1,1,1,0,0,0],[0,0,2,4,4,0],[0,0,0,2,0,0],[0,0,1,2,4,0]]

In [ ]:
arr

In [ ]:
def hourglassSum(arr):
    # Write your code here
    num, sum_ = 1,0
    list_ = []
    n=0
    while(n<len(arr[0])-4):
        for i in range(len(arr[0+n:3+n])):
            for j in range(len(arr[0+n:3+n])):
                sum_ += arr[i][j];
        n+=1
        list_.append(sum_)
    return max(list_)

In [ ]:
print(hourglassSum(arr))

In [ ]:
print("There are a total of",len(narrative),"sentences")

In [ ]:
def jaccard_similarity(document1, document2):
  a = set(document1.split())
  b = set(document2.split())

  c = a.intersection(b)

  return len(c)/ (len(a)+len(b)-len(c))

In [ ]:
from tqdm import tqdm

si = narrative

for index in tqdm(range(len(narrative))):
  for each in range(len(narrative)):
    if jaccard_similarity(str(narrative[index]), str(narrative[each])) > 0.9:
      si[index] = "duplicate"

In [ ]:
jaccard_similarity(narrative[0],narrative[7324])

In [ ]:
narrative[0]

In [ ]:
from tqdm import tqdm

#WORD2VEC MODEL

In [ ]:
# Import word_tokenize and downlaoding punkt

import nltk

from nltk import word_tokenize
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import gensim 

from gensim.models import Word2Vec

In [ ]:
word2vec_model = gensim.models.Word2Vec(list_of_words, window=5, min_count=2);

In [ ]:
processed_data = []

for words in tqdm(list_of_words):
  processed_data.append(np.mean([word2vec_model.wv[word] for word in words if word in word2vec_model.wv.index2word], axis=0))

# **EXECUTE**

# MODEL

In [13]:
# Importing the necessary libraries to covert the model into LSTM RNN 

import tensorflow
from tensorflow import keras 

from keras.preprocessing.text import one_hot